@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: clamp(12px, 1vw, 16px);
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-greycliff), system-ui, sans-serif;
  }
}
